In [1]:
import pandas as pd
import numpy as np
from keras.preprocessing import sequence

Using TensorFlow backend.
/home/lab606a/.virtualenvs/keras/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/lab606a/.virtualenvs/keras/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:524: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/lab606a/.virtualenvs/keras/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/lab606a/.virtualenvs/keras/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/lab606a/.virtualenvs/keras/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/lab606a/.virtualenvs/keras/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:532: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [9]:
datasetset = pd.read_csv("./datasets/30hz/dataset20200409_30fps_15balls.csv", header=None)
datasetset = datasetset.fillna(0)
datasetset = np.array(datasetset)
datasetset.shape

(4000, 46)

In [10]:
datasetset2 = datasetset
datasetset2.shape

(4000, 46)

In [11]:
for i in range(16, 46, 3):
    tmp = datasetset[:,:i]
    print(tmp.shape)

(4000, 16)
(4000, 19)
(4000, 22)
(4000, 25)
(4000, 28)
(4000, 31)
(4000, 34)
(4000, 37)
(4000, 40)
(4000, 43)

In [13]:
for i in range(16, 46, 3):
    tmp = datasetset[:,:i]
    tmp = sequence.pad_sequences(tmp, maxlen=46, padding='post', dtype='float32')
    datasetset2 = np.row_stack((datasetset2, tmp))
    print(datasetset2.shape)

(8000, 46)
(12000, 46)
(16000, 46)
(20000, 46)
(24000, 46)
(28000, 46)
(32000, 46)
(36000, 46)
(40000, 46)
(44000, 46)

In [14]:
df = pd.DataFrame(data=datasetset2)
df.to_csv('./dataset_filled_zero.csv')